<html>
  {% include head.html %}
  <body>
    <!-- {% include header.html %} -->
    <div class="page">
      <div class="left-col">
        <div class="left-col-wrap">
          <img src="assets/logo/logo2.png" class="logo"alt="PG">
          {% include navigation.html %}
          </div>
      </div>
      <div class="right-col">
        {% include content.html %}
        {% for category in site.categories %}
        {% if category[0] == "Finance" %}
          <ul>
            {% for post in category[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endfor %}
      </div>
      {% include footer.html %}

    </div>
  </body>
</html>
