<html>
  {% include head.html %}
  <body>
    <!-- {% include header.html %} -->
    <div class="page">
      <div class="left-col">
        <div class="left-col-wrap">
          <a href="/">
          <img src="assets/logo/logo2.png" class="logo"alt="PG">
          </a>
          {% include navigation.html %}
          </div>
      </div>
      <div class="right-col">
        {% include content.html %}
        {% if page.title == "Home" %}
        {% include latest-post.html %}
        {% elsif page.title != "About" %}
            {% include post-list.html %}
        {% endif %}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
